@import "./modules/body/main_body";
@import "./modules/navbar/navbar";
@import "./modules/main/home";
@import "./modules/main/about";
@import "./modules/main/chefs";
@import "./modules/main/contact";
@import "./modules/main/events";
@import "./modules/main/dropdown";
@import "./modules/main/gallery";
@import "./modules/main/specials";
@import "./modules/main/menu";
@import "./modules/footer/footer";
@import "./modules/main/box";
@import "./modules/main/feedback";
@import "./modules/main/form" ;