.about{
    width: 99vw;
    height: 70vh;
    background-color: rgb(218, 213, 205);
    padding: 0px 40px;
    @include myDisplay(flex, none,  center, none, none);
    .left img{
        width: 90%;
        height: 500px;
        margin-left: 40px;
        
    }
    .right{
        width: 50%;
        height: 90%;
    }


}