.about{
    width: 99vw;
    height: 70vh;
    background-color: rgb(248, 238, 222);
        
    padding: 0px 40px;
    @include myDisplay(flex, none,  center, none, none);
    .left img{
        width: 90%;
        height: 500px;
        margin-left: 40px;
        //TODOfilter: brightness(50%);
    }
    .right{
        width: 50%;
        height: 90%;
    }
    .list div{
        @include myDisplay(flex, none,  center, none, 10px);
        i{
            color: $_yellow;
            font-size: 20px;
        }
    }
    
}