@for $i from 1 through 500 {
    .top-#{$i} {
        top: #{$i}px !important;
    }
    .bottom-#{$i} {
        bottom: #{$i}px !important;
    }
    .start-#{$i} {
        left: #{$i}px !important;
    }
    .end-#{$i} {
        right: #{$i}px !important;
    }
}
//?Costumizing width w height
@for $i from 1 through 500 {
    .w-#{$i} {
        width: #{$i}px !important;
    }
}
@for $i from 1 through 500 {
    .h-#{$i} {
        height: #{$i}px !important;
    }
}

//?padding w margin
@for $i from 1 through 200 {
    
    .p-#{$i} {
        padding: #{$i}px !important;
    }
    
    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }
    
    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
    
    .pl-#{$i} {
        padding-left: #{$i}px !important;
    }
    
    .pr-#{$i} {
        padding-right: #{$i}px !important;
    }
    
    .px-#{$i} {
        padding-left: #{$i}px !important;
        padding-right: #{$i}px !important;
    }
    
    .py-#{$i} {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
    }
}

  

@for $i from 1 through 200 {
    .m-#{$i} {
        margin: #{$i}px !important;
    }
    
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }
    
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
    
    .mx-#{$i} {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
    }
    
    .my-#{$i} {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
    }
}