.carousel{     
    .carousel-item{
        .boxid{
            top: 0px;
            bottom: 0px;
            right: 0;
            left: 0;           
        }
    
        img{
            height: 90vh;
            
        }
    }
}