

.menu-filters {
   display: flex;
    flex-direction: unset;
    gap: 30px;
  
    .sor {
        @include myDisplay(flex, column, center, none, 10px);
        padding-top: 70px;
   
        a {
            background-color: rgb(250, 233, 208);
            color: $_yellow;
            text-decoration: none;
            padding: 7px 30px;
            font-size: 13px;
            font-weight: 600;
            border-radius: 20px;
            cursor: default;
        }

        h2 {

            font-weight: 400;
            color: rgb(31, 26, 26);
            letter-spacing: 1;
            font-family: "Pacifico";

            span {
                color: $_yellow;
            }
        }
    }

//    .link {
//     display: flex;
//     height: 40px;
//     background-color: aqua;
    
//    }

   
        label { 
        cursor: pointer;
        margin-right: 15px;
        font-weight: bold;
        color: #999;
        transition: color 0.3s;
        background-color: black;
    
  }

  input[type="radio"] {
    display: none;

    // 
    &:checked + label {
      color: orange;
      font-weight: bolder;
    }
  }

  .menu-items {
    margin-top: 20px;
    background-color: antiquewhite;

    .item {
      display: none; 
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 80px;
        border-radius: 50%;
      }

      p {
        margin: 0;
        font-weight: 600;

        span {
          color: orange;
          margin-left: 10px;
        }
      }
    }
  }


  // All
  #all:checked ~ .menu-items {
    .item {
      display: flex;
    }
  }

  // Starters
  #starters:checked ~ .menu-items {
    .item {
      display: none;
    }
    .starters {
      display: flex;
    }
  }

  // Salads
  #salads:checked ~ .menu-items {
    .item {
      display: none;
    }
    .salads {
      display: flex;
    }
  }

  // Specialty
  #specialty:checked ~ .menu-items {
    .item {
      display: none;
    }
    .specialty {
      display: flex;
    }
  }
}
