.footer {
  background-color: black;
  color: white;
  padding: 40px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {

    color: white ;
  }

}
  .finalfooter {
    background-color: black;
    color: white;
    padding: 40px 0 20px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      color: orange;
    }
  }
