/* General navbar container */
// .navbar {
//     width: 100%;
//     background: transparent;
//     display: flex;
//     flex-direction: column;
//     transition: background-color 0.3s ease;
// }

/* TOP BAR */
// .nav-top {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 8px 40px;
//     font-size: 14px;
//     background: #0c0c0c;
//     color: #fff;
// }

// .left-info {
//     display: flex;
//     gap: 20px;
// }

// .left-info .item {
//     display: flex;
//     align-items: center;
//     gap: 6px;
// }

// .book-btn {
//     padding: 6px 16px;
//     background: #e63946;
//     border: none;
//     color: #fff;
//     border-radius: 4px;
//     cursor: pointer;
// }

/* MAIN NAV */
// .nav-main {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 15px 40px;
//     background: transparent;
//     transition: background 0.3s ease;
// }

/* Logo */
// .logo {
//     font-size: 28px;
//     font-weight: 700;
//     margin: 0;
// }

// /* Links */
// .links {
//     display: flex;
//     gap: 25px;
// }

// .links a {
//     text-decoration: none;
//     color: #333;
//     font-weight: 500;
// }

// .links a:hover {
//     color: #e63946;
// }

/* Responsive mobile */
@media (max-width: 768px) {
    .links {
        flex-wrap: wrap;
        gap: 10px;
    }

    .nav-top,
    .nav-main {
        padding: 10px 20px;
    }
}















nav {

    .nav_top {
        height: 45px;
        padding: 0px 80px;
        // ! background-color: rgba(255, 255, 255, 0.4);
        // ! -webkit-backdrop-filter: blur(5px);
        // ! backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.86);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        @include myDisplay(flex, row, center, space-between, none);

        .top_left {
            width: 800px;
            @include myDisplay(flex, none, center, none, 40px);
            color: rgb(124, 119, 119);
        }

    }

    .nav_bar {
        @include myDisplay(flex, none, center, space-between, none);
        background: rgba(48, 46, 46, 0.86);
        padding: 20px 80px;

        h1 {
            .logo {
                    font-size: 28px;
                    font-weight: 700;
                    margin: 0;
                }
        }

        .links {
            @include myDisplay(flex, none, center, space-between, 20px);
        }

        .links a {

            color: rgb(255, 255, 255);
            text-decoration: none;
        }

    }
 }